<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551704040955-pjjaecgm4brljb24afkje6v2h35udgv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551704040955-pjjaecgm4brljb24afkje6v2h35udgv8</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Zzrx-lhTveB_DeGMKIR_11eH_9VaYgs</string>
	<key>GCM_SENDER_ID</key>
	<string>551704040955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mariia.obeyorpay</string>
	<key>PROJECT_ID</key>
	<string>obeyorpay-8cea7</string>
	<key>STORAGE_BUCKET</key>
	<string>obeyorpay-8cea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551704040955:ios:f4d8d75f681f8def02e75e</string>
</dict>
</plist>